[user]
	email = charleylee42@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[merge]
  tool = nvimdiff
[rebase]
	updateRefs = true
[rerere]
	enabled = true
